body {
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
}

.main-container {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.rand-bg-1{
    background-image: url("assets/images/bg1.jpg");
}
.rand-bg-2{
    background-image: url("assets/images/bg2.jpg");
}
.rand-bg-3{
    background-image: url("assets/images/bg3.jpg");
}
.rand-bg-4{
    background-image: url("assets/images/bg4.jpg");
}
.rand-bg-5{
    background-image: url("assets/images/bg5.jpg");
}
.rand-bg-6{
    background-image: url("assets/images/bg6.jpg");
}
.rand-bg-7{
    background-image: url("assets/images/bg7.jpg");
}
.rand-bg-8{
    background-image: url("assets/images/bg8.jpg");
}
.rand-bg-9{
    background-image: url("assets/images/bg9.jpg");
}
.rand-bg-10{
    background-image: url("assets/images/bg10.jpg");
}
.dark-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
}
.foreground-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    gap: 50px;
}
.timer-container{
    width: 70%;
    margin: 0 auto;
}
.timer-display{
    font-weight: 700;
}
.title {
    text-align: center;
    font-size: 72pt;
}
@media (max-width: 576px) {
    .timer-container {
        width: 100%;
    }
    .title {
        font-size: 35pt;
    }
}
.sound-container{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1;

}
.sound-button{
    background: transparent;
    border: none;
}
.sound-button > img{
    width: 25px;
}
.hidden{
    display: none !important;
}